<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945472370714-88fd0o4v8jb8468lin41ar2dki0pf6t5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945472370714-88fd0o4v8jb8468lin41ar2dki0pf6t5</string>
	<key>API_KEY</key>
	<string>AIzaSyCEtIymsO2WwHYKVzENaVuY5VAbJqcD5so</string>
	<key>GCM_SENDER_ID</key>
	<string>945472370714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RuiSilva.MealPrep</string>
	<key>PROJECT_ID</key>
	<string>mealprep-3a68a</string>
	<key>STORAGE_BUCKET</key>
	<string>mealprep-3a68a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945472370714:ios:4adfda3167db773589f9a3</string>
</dict>
</plist>